@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p> Sessiondaki Bilgi : 
    @TempData["data"]
    <a asp-controller="Home" asp-action="SessionSil">Session Sil</a>
</p>